'.source.chef.recipes':
  'Chef cache path':
    'prefix': 'cache dslhelper'
    'body': '\#{Chef::Config[\'file_cache_path\']}'
  'File exists':
    'prefix': 'File.exist? dslhelper'
    'body': '{ ::File.exist?(\'${1:/var/www/html/index.html}\') }'
  'include_recipe':
    'prefix': 'include_recipe dslhelper'
    'body': 'include_recipe \'${1:example::recipe}\''
  'platform_family?':
    'prefix': 'platform_family? dslhelper'
    'body': 'platform_family?(\'${1:debian}\')'
  'platform?':
     'prefix': 'platform? dslhelper'
     'body': 'platform?(\'${1:ubuntu}\')'
  'reboot_pending?':
     'prefix': 'reboot_pending? dslhelper'
     'body': 'reboot_pending?'
  'cookbook_name':
     'prefix': 'cookbook_name dslhelper'
     'body': 'cookbook_name'
  'recipe_name':
     'prefix': 'recipe_name dslhelper'
     'body': 'recipe_name'
