'.source.chef.recipes':
  'DSL Helper - Chef cache path':
    'prefix': 'cache'
    'body': '\#{Chef::Config[\'file_cache_path\']}'
  'DSL Helper - file':
    'prefix': 'File.exist?'
    'body': '{ ::File.exist?(\'${1:/var/www/html/index.html}\') }'
  'DSL Helper - include_recipe':
    'prefix': 'include_recipe'
    'body': 'include_recipe \'${1:example::recipe}\''
  'DSL Helper - platform_family?':
    'prefix': 'platform_family?'
    'body': 'platform_family?(\'${1:debian}\')'
  'DSL Helper - platform?':
     'prefix': 'platform?'
     'body': 'platform?(\'${1:ubuntu}\')'
  'DSL Helper - reboot_pending?':
     'prefix': 'reboot_pending?'
     'body': 'reboot_pending?'
  'DSL Helper - cookbook_name':
     'prefix': 'cookbook_name'
     'body': 'cookbook_name'
  'DSL Helper - recipe_name':
     'prefix': 'recipe_name'
     'body': 'recipe_name'
