'.source.ruby.chef':
  'log':
    'prefix': 'log'
    'body': 'log \'${1:name}\' do\n  message \"${2:This is a message that will be added to the log.}\"\n  level :${3:info}\nend'
  'cookbook_file':
    'prefix': 'cookbook'
    'body': 'cookbook_file \'${1:/tmp/testfile}\' do\n  source \'${2:testfile}\'\n  owner \'${3:root}\'\n  group \'${4:$3}\'\n  mode \'${5:0644}\'\nend'
  'cron':
    'prefix': 'cron'
    'body': 'cron \'${1:name}\' do\n  hour \'${2:5}\'\n  minute \'${3:5}\'\n  command \'${3:/bin/script}\'\nend\n'
  'directory':
    'prefix': 'dir'
    'body': 'directory \'${1:/tmp/something}\' do\n  owner \'${2:root}\'\n  group \'${3:$2}\'\n  mode \'${4:0755}\'\n  recursive true\n  action :create\nend\n'
  'execute':
    'prefix': 'exec'
    'body': 'execute \'${1:name}\' do\n  command \'${2:command}\'\n  action :run\nend\n'
  'file':
    'prefix': 'file'
    'body': 'file \'${1:/tmp/something}\' do\n  owner \'${2:root}\'\n  group \'${3:$2}\'\n  mode \'${4:0755}\'\n  action :${5:create}\nend'
  'gem_package':
    'prefix': 'gem'
    'body': 'gem_package \'${1:gem}\'\n'
  'group':
    'prefix': 'group'
    'body': 'group \'${1:group}\' do\n  gid \'${2:999}\'\n  members [\'${3:kyle}\', \'${4:cartment}\']\nend'
  'http_request':
    'prefix': 'http'
    'body': 'http_request \'${1:description}\' do\n  action :${2:post}\n  url \'${3:http://example.com/check_in}\'\n  message :${4:key} => \'${5:value}\'\nend'
  'link':
    'prefix': 'link'
    'body': 'link \'${1:/tmp/passwd}\' do\n  to \'${1:/etc/passwd}\'\nend'
  'package':
    'prefix': 'package'
    'body': 'package \'${1:name}\' do\n action :${2:install}\nend'
  'remote':
    'prefix': 'remote'
    'body': 'remote_file \'${1:/opt/chef/file}\' do\n  source \'${2:http://myfile}\'\n  owner \'${3:root}\'\n  group \'${4:$3}\'\n  checksum \'${5:abc123}\'\nend'
  'ruby_block':
    'prefix': 'block'
    'body': 'ruby_block \'${1:desc}\' do\n  block do\n    ${1:puts \'awesome\'}\n  end\nend'
  'script':
    'prefix': 'script'
    'body': 'script \'${1:desc}\' do\n  interpreter \'${2:bash}\'\n  user \'${3:root}\'\n  cwd \'${4:/tmp}\'\n  code <<-EOF\n\t${5:script commands}\n  EOF\nend\n'
  'service':
    'prefix': 'service'
    'body': 'service \'${1:service}\' do\n  supports :${2:status} => true\n  action [ :${3:enable}, :${3:start} ]\nend'
  'system_user':
    'prefix': 'systemuser'
    'body': 'user \'${1:random}\' do\n  comment \'${2:Random User}\'\n  system true\n  shell \'/bin/false\'\nend'
  'template':
    'prefix': 'template'
    'body': 'template \'${1:target}\' do\n  source \'${2:source}.erb\'\n  owner \'${3:root}\'\n  group \'${4:$3}\'\n  mode \'${5:0744}\'\nend\n'
  'user':
    'prefix': 'user'
    'body': 'user \'${1:random}\' do\n  comment \'${2:Random User}\'\n  uid \'${3:1000}\'\n  gid \'${4:users}\'\n  shell \'${5:/bin/zsh}\'\nend'
