'.source.chef.metadata':
  'Metadata - chef_version':
    'prefix': 'chef_version'
    'body': "chef_version '${1:>=} ${2:13}'"
  'Metadata - depends':
    'prefix': 'depends'
    'body': "depends '${1:apache2}', '${2:<} ${3:1.0}'"
  'Metadata - description':
    'prefix': 'description'
    'body': "description '${1:A fancy cookbook that manages a herd of cats!}'"
  'Metadata - gem':
    'prefix': 'gem'
    'body': "gem '${1:poise}'"
  'Metadata - issues_url':
    'prefix': 'issues_url'
    'body': "issues_url '${1:https://github.com/johndoe/mycookbook/issues}'"
  'Metadata - license':
    'prefix': 'license'
    'body': "license '${1:All Rights Reserved}'"
  'Metadata - long_description':
    'prefix': 'long_description'
    'body': "long_description ${1:IO.read(File.join(File.dirname(__FILE__), 'README.md'))}"
  'Metadata - maintainer_email':
    'prefix': 'maintainer_email'
    'body': "maintainer_email '${1:john_doe@example.com}'"
  'Metadata - maintainer':
    'prefix': 'maintainer'
    'body': "maintainer '${1:John Doe}'"
  'Metadata - name':
    'prefix': 'name'
    'body': "name '${1:cats}'"
  'Metadata - ohai_version':
    'prefix': 'ohai_version'
    'body': "ohai_version '${1:>=} ${2:13}'"
  'Metadata - privacy':
    'prefix': 'privacy'
    'body': "privacy"
  'Metadata - provides recipes':
    'prefix': 'provides recipe'
    'body': "provides '${1:cats::sleep}'"
  'Metadata - provides definitions':
    'prefix': 'provides definitions'
    'body': "provides '${1:here(:kitty, :time_to_eat)}'"
  'Metadata - provides resources':
    'prefix': 'provides resources'
    'body': "provides '${1:service[snuggle]}'"
  'Metadata - recipe':
    'prefix': 'recipe'
    'body': "recipe '${1:cats::sleep}', '${2:For a crazy 20 hours a day.}'"
  'Metadata - source_url':
    'prefix': 'source_url'
    'body': "source_url '${1:https://github.com/johndoe/mycookbook}'"
  'Metadata - supports':
    'prefix': 'supports'
    'body': "supports '${1:ubuntu}'"
  'Metadata - version':
    'prefix': 'version'
    'body': "version '${0:2.0.0}'"
