'.source.chef.metadata':
  'chef_version metadata':
    'prefix': 'chef_version'
    'body': "chef_version '${1:>=} ${2:13}'"
  'depends metadata':
    'prefix': 'depends'
    'body': "depends '${1:apache2}', '${2:<} ${3:1.0}'"
  'description metadata':
    'prefix': 'description'
    'body': "description '${1:A fancy cookbook that manages a herd of cats!}'"
  'gem metadata':
    'prefix': 'gem'
    'body': "gem '${1:poise}'"
  'issues_url metadata':
    'prefix': 'issues_url'
    'body': "issues_url '${1:https://github.com/johndoe/mycookbook/issues}'"
  'license metadata':
    'prefix': 'license'
    'body': "license '${1:All Rights Reserved}'"
  'long_description metadata':
    'prefix': 'long_description'
    'body': "long_description ${1:IO.read(File.join(File.dirname(__FILE__), 'README.md'))}"
  'maintainer_email metadata':
    'prefix': 'maintainer_email'
    'body': "maintainer_email '${1:john_doe@example.com}'"
  'maintainer metadata':
    'prefix': 'maintainer'
    'body': "maintainer '${1:John Doe}'"
  'name metadata':
    'prefix': 'name'
    'body': "name '${1:cats}'"
  'ohai_version metadata':
    'prefix': 'ohai_version'
    'body': "ohai_version '${1:>=} ${2:13}'"
  'privacy metadata':
    'prefix': 'privacy'
    'body': "privacy"
  'provides metadata recipes':
    'prefix': 'provides recipe'
    'body': "provides '${1:cats::sleep}'"
  'provides metadata definitions':
    'prefix': 'provides definitions'
    'body': "provides '${1:here(:kitty, :time_to_eat)}'"
  'provides metadata resources':
    'prefix': 'provides resources'
    'body': "provides '${1:service[snuggle]}'"
  'recipe metadata':
    'prefix': 'recipe'
    'body': "recipe '${1:cats::sleep}', '${2:For a crazy 20 hours a day.}'"
  'source_url metadata':
    'prefix': 'source_url'
    'body': "source_url '${1:https://github.com/johndoe/mycookbook}'"
  'supports metadata':
    'prefix': 'supports'
    'body': "supports '${1:ubuntu}'"
  'version metadata':
    'prefix': 'version'
    'body': "version '${0:2.0.0}'"
