'.source.chef.recipes':
  'Properties - action default':
    'prefix': 'action nothing'
    'body': 'action :${1:nothing}'
  'Properties - action enable':
    'prefix': 'action enable'
    'body': 'action [ :${1:enable}, :${2:start} ]'
  'Properties - group':
    'prefix': 'group'
    'body': 'group \'${1:group}\''
  'Properties - user':
    'prefix': 'user'
    'body': 'user \'${1:user}\''
  'Properties - mode':
    'prefix': 'mode'
    'body': 'mode \'${1:0755}\''
  'Properties - not_if':
    'prefix': 'not_if'
    'body': 'not_if "${1}"'
  'Properties - only_if':
    'prefix': 'only_if'
    'body': 'only_if "${1}"'
  'Properties - provider':
    'prefix': 'provider'
    'body': 'provider Chef::Provider::${1:Package::Rubygems}\n'
  'Properties - retries':
    'prefix': 'retries'
    'body': 'retries ${1:1}\nretry_delay ${2:2}'
  'Properties - cwd':
    'prefix': 'cwd'
    'body': 'cwd \'${1:/myapp}\''
  'Properties - command':
    'prefix': 'command'
    'body': 'command \'${1:echo $PWD}\''
  'Properties - environment':
    'prefix': 'environment'
    'body': 'environment \'${1:JAVA_HOME}\' => \'${2:/usr/lib/java/jdk1.7/home}\''
  'Properties - guard_interpreter':
    'prefix': 'guard_interpreter'
    'body': 'guard_interpreter :${1:bash}'
  'Properties - path':
    'prefix': 'path'
    'body': 'path \'${1:/foo/bar}\''
  'Properties - notifies':
    'prefix': 'notifies'
    'body': 'notifies :${1:run}, \'${2:service}[${3:test-nagios-config}]\', :${4:delayed}'
  'Properties - source':
    'prefix': 'source'
    'body': 'source \'${1:foobar.erb}\''
  'Properties - message':
    'prefix': 'message'
    'body': 'message \'${1:Just a message}\''
  'Properties - url':
    'prefix': 'url'
    'body': 'url \'${1:https://github.com/pschaumburg/language-chef}\''
  'Properties - subscribes':
    'prefix': 'subscribes'
    'body': 'subscribes :${1:restart}, \'${2:resource}[${3:name}]\', :${4:timer}'
  'Properties - recursive':
    'prefix': 'recursive'
    'body': 'recursive ${1:true}'
